.card {
    background: #fff;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.custom-container {
    border: 1px solid var(--p-content-border-color);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 4px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.section-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.customer-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.info-box {
    background: #f9fafb;
    padding: 16px;
    border-radius: 10px;
}

.info-row {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon-box {
    width: 36px;
    height: 36px;
    background: #e0f2fe;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-box i {
    font-size: 16px;
    color: #3b82f6;
}

.label {
    font-size: 12px;
    color: #6b7280;
    margin: 0;
}

.value {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}